* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    background-image: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaW1hbCUyMHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
    font-weight: bolder;
}
section {
    margin: 0 auto;
}
h1 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.one{
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.two {
    padding-top: 15px;
    padding-bottom: 15px;
}
.img {
    padding-left: 50px;
    padding-top: 80px;
}
img {
    border-radius: 50%;
    width: auto;
    height: 300px;
}
.navbar {
    background-color: #555;
    overflow: auto;
    position: fixed;
  }
  
  .navbar a {
    float: left;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}    
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    border-radius: 10px;
    padding: 10px;
}
.phone {
  padding-left: 10px;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.mail {
  padding-left: 10px;
  width: 100px;
  height: 50px;
  margin-top: 80px;
}
.no {
  padding-top: -50px;
}
.abt {
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
    body {
      width: 100%;
    }
  }